<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>D3.js</title>
  </head>

  <body>
    <p>
      D3.js Charts
    </p>
    <ul>
      <li>
        <a href="/ayakashino-tuzumi">あやかしの鼓</a>
      </li>
      <li>
        <a href="/binzume-jigoku">瓶詰地獄</a>
      </li>
      <li>
        <a href="/kichigai-jigoku">キチガイ地獄</a>
      </li>
      <li>
        <a href="/shigono-koi">死後の恋</a>
      </li>
      <li>
        <a href="/shojo-jigoku">少女地獄</a>
      </li>
    </ul>
  </body>
</html>
